[Unit]
Description=Gunicorn service

[Service]
# Load the environment variables from /etc/environment
EnvironmentFile=/etc/environment

# Use the environment variables for gunicorn and the project directory
ExecStart=/bin/bash -c "$VITONGUNICORN -w 3 -b :5000 -t 0 --log-file $PROJECT_DIR/output.log --chdir $PROJECT_DIR wsgi:app"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
