[Unit]
Description=Gunicorn service

[Service]
# Load the environment variables from /etc/environment
EnvironmentFile=/etc/environment

# Use the environment variables for gunicorn and the project directory
ExecStart=$VITONGUNICORN -w 3 -b :5000 -t 0 --log-file $PROJECT_LOG --chdir $PROJECT_DIR wsgi:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
